@import "../../styles/colors.module.scss";
@import "../../styles/globals.module.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: $max-width;
    width: 80%;
    gap: .5em;
    padding: 1em;
  }
}
