@import "../../styles/colors.module.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $highlight;
  padding-top: 3em;
  padding-bottom: 5em;

  .content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: .5em;
    padding: 1em;
  }
}
