@import "../../styles/colors.module.scss";
@import "../../styles/globals.module.scss";

@media (min-width: $mobile-width) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      width: 80%;
      max-width: $max-width;
      display: flex;
      justify-content: center;
      align-items: stretch;

      .image {
        height: 100%;
        width: 30%;
        padding-bottom: 12.5%;
        padding-top: 12.5%;
        margin-top: 1em;
      }

      .text {
        width: 70%;
        padding-left: 3em;
      }
    }
  }

  .reverse {
    .content {
      flex-direction: row-reverse;

      .text {
        padding-right: 3em;
        padding-left: 0;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      width: 80%;

      .image {
        height: 16em;
        width: 100%;
      }

      .text {
        width: 100%;

        .content {
          max-width: 45em;
          padding: 0;
          width: 80%;
        }
      }
    }
  }
}
