@import "../../styles/globals.module.scss";
@import "../../styles/colors.module.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 80%;
    max-width: $max-width;

    h1 {
      width: 100%;
      color: $blue-dark;
    }
  }
}

@media ( min-width: $mobile-width ) {
  .container {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

@media ( max-width: $mobile-width ) {
  .container {
    padding-top: 2em;
    padding-bottom: 0;
  }
}
