@import "../../styles/globals.module.scss";
@import "../../styles/colors.module.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  padding-top: 2em;
  padding-bottom: 2em;

  .content {
    width: 80%;
    max-width: $max-width;

    h1 {
      color: $blue-dark;
    }
  }
}
