@import "../../styles/colors.module.scss";
@import '../../styles/globals.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 80%;
  height: 12em;
}

.container h1 {
  font-size: 2em;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.container p {
  width: 80%;
}

.image {
  width: 100%;
  height: 100%;
}