@import '../../styles/colors.module.scss';
@import '../../styles/globals.module.scss';

.layout {
  width: 100%;
  height: calc( 100% + $footer-height );
  margin-bottom: $footer-height;
  background: $white;

  .page {
    width: 100%;
  }
}
