@import "../../styles/colors.module.scss";
@import "../../styles/globals.module.scss";

.arrow_link {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $blue-mid;
    transition: all 0.2s ease-in-out;
  }

  &:hover a {
    color: $blue-dark;
  }

  svg {
    font-size: 1.2em;
    margin-left: 0.25em;
    margin-top: 0.1em;
    color: $blue-mid;
    transition: transform 0.2s ease-in-out;
  }

  &:hover svg {
    transform: translateX(0.25em);
    color: $blue-dark;
  }

  &.white {
    a {
      color: $white;
      transition: all 0.2s ease-in-out;
    }

    &:hover a {
      color: $grey-light;
    }

    svg {
      color: $white;
    }

    &:hover svg {
      color: $grey-light;
    }
  }

  &.large {
    a {
      font-size: 2em;

      @media (max-width: $mobile-width) {
        font-size: 1.2em;
      }
    }

    svg {
      font-size: 2em;

      @media (max-width: $mobile-width) {
        font-size: 1.2em;
      }
    }
  }
}
