@import '../../styles/colors.module.scss';
@import '../../styles/globals.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  padding-top: $nav-height;
  background-color: $blue-dark;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;

    h1 {
      font-size: 4em;
      color: white;
      margin: auto;
      margin-bottom: 0;
      animation: fadeRight 1s ease-in-out;
    }

    p {
      font-size: large;
      color: white;
      margin: auto;
      margin-top: 1em;
      animation: fadeLeft 1s ease-in-out
    }
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translate(20%);
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translate(-20%);
  }
  to {
    opacity: 100%;
  }
}
