@import '../../styles/colors.module.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50vh;
  margin-top: 7vh;
  background-color: $blue-dark;
}

.container h1 {
  font-size: 4em;
  color: white;
  margin: auto;
  margin-bottom: 0;
}

.container p {
  font-size: large;
  color: white;
  margin: auto;
  margin-top: 1em;
}
