@import "../../styles/globals.module.scss";
@import "../../styles/colors.module.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0 2em 0;

  .content {
    max-width: $max-width;
    width: 80%;

    h4 {
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      font-weight: 800;
      color: $grey-dark;
    }
  }
}

.centered {
  .content {
    width: 100%;
    text-align: left;
  }
}
