@import '../../styles/colors.module.scss';
@import '../../styles/globals.module.scss';

.footer {
  height: $footer-height;
  width: 100%;
  background-color: $highlight;
  position: fixed;
  z-index: -5;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    text-decoration: none;
    color: $blue-mid;
    margin: 1em;
    font-size: 1.25em;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $blue-dark;
    }
  }

  svg {
    color: $blue-mid;
    font-size: 1.75em;
    margin: 1em;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $blue-dark;
      cursor: pointer;
    }
  }
}
