@import '../../styles/colors.module.scss';
@import '../../styles/globals.module.scss';

$width: 60em;
$height: 30em;
$width-mobile: 95vw;
$height-mobile: 95vh;

.container {
  top: 0;
  left: 0;
  z-index: 50;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $blue-dark;
  opacity: 50%;
}

.modal {
  z-index: 55;
  position: fixed;
  background-color: $white;
  opacity: 100%;
  display: flex;

  .close_button {
    @media (min-width: $mobile-width) {
      display: none;
    }

    position: absolute;
    top: 3%;
    left: 85%;
    background: $blue-mid;
    opacity: 80%;
    border-radius: 50%;
    font-size: 3em;
    color: $white;
  }

  .description {
    width: calc($width * (4 / 5) - 4em);
    height: $height;
    padding: 2em;

    .title {
      font-size: 1.2em;
      font-style: italic;
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 2.2em;
        margin: 0em .5em 0em .5em;
        color: $blue-mid;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $blue-dark;
        }
      }
    }
  }

  @media screen and (min-width: $mobile-width) {
    top: calc(50vh - ( $height / 2 ));
    left: calc(50vw - ( $width / 2 ));
    width: $width;
    height: $height;

    .image {
      width: calc($width * (2 / 5));
      height: 100%;
    }

    .description {
      padding-top: 1em;
      width: calc($width * (4 / 5) - 4em);
      height: $height;
      font-size: .95em;

      .icons {
        height: 7em;
      }
    }
  }

  @media screen and (max-width: $mobile-width) {
    width: $width-mobile;
    height: $height-mobile;
    top: 2.5vh;
    left: 2.5vw;
    flex-direction: column;

    .image {
      width: $width-mobile;
      height: calc($height-mobile / 2);
    }

    .description {
      padding-top: 0;
      width: calc($width-mobile - 4em);
      height: calc($height-mobile / 2);
      overflow: scroll;
    }
  }
}
