@import '../../styles/globals.module.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;

  .content {
    width: 80%;
    max-width: $max-width;
    padding: 1em;
    text-align: center;
  }
}

@media ( min-width: $mobile-width ) {
  .container {
    padding-bottom: 1em;
  }
}
