@import '../../styles/colors.module.scss';
@import '../../styles/globals.module.scss';

.content_grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;

  @media (min-width: $mobile-width) {
    .row {
      display: flex;
      flex: wrap;
      width: 100%;
      height: fit-content;

      &:nth-child(odd) {
        flex-direction: row-reverse;

        .description {
          padding-left: 10%;
          width: calc( 50% - ( 10% + 3em ) )
        }
      }

      .image {
        width: 50%;
      }

      a {
        text-decoration: none;
        color: $blue-dark;
      }

      .description {
        width: calc( 50% - ( 10% + 3em ) );
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        padding: 2em;

        p {
          margin-top: 1em;
          font-size: .95em;
        }
      }
    }
  }

  @media (max-width: $mobile-width) {
    .row {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-top: 2em;
      margin-bottom: 2em;

      .image {
        width: 100%;
        height: 12em;
      }
    }
  }
}
