@import '../../styles/colors.module.scss';

@mixin nav_shared {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  border-bottom: 2px solid $highlight;
  background-color: $white;

  svg {
    color: $blue-mid;
    cursor: pointer;
    padding: .5em;
    transition: all .2s ease-in-out;

    &:hover {
      color: $blue-dark;
    }
  }
};

.nav {
  @include nav_shared;

  a {
    padding: 1em;
    height: 1.5em;
    text-decoration: none;
    text-align: center;
    color: $blue-mid;
    transition: all .2s ease-in-out;

    &:hover {
      color: $blue-dark;
    }
  }
}

@mixin nav_items {
  height: 100%;
  display: flex;
  align-items: center;
}

.link_container {
  @include nav_items;
  justify-content: flex-start;
  margin-left: 2em;
}

.icon_container {
  @include nav_items;
  justify-content: flex-end;
  margin-right: 2em;
}

.nav_mobile {
  @include nav_shared;

  svg {
    font-size: 2em;
  }
}

.drawer {
  position: fixed;
  // show bottom border of nav
  height: calc( 93vh - 2px );
  width: 100vw;
  bottom: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: bottom .25s ease-in-out;
  background: $white;
  z-index: -5;

  .links {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    padding: 1em;
    color: $blue-mid;
  }

  &.drawer_open {
    bottom: 0;
    z-index: -5;
  }
}
