@import '../../styles/colors.module.scss';

@mixin nav_shared {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  svg {
    color: $blue-mid;
    cursor: pointer;
    padding: .5em;

    &:hover {
      color: $blue-dark;
    }
  }
};

.nav {
  @include nav_shared;

  a {
    padding: 1em;
    height: 1.5em;
    text-decoration: none;
    text-align: center;
    color: $blue-mid;
    transition: opacity 0.1s ease-in-out;

    &:hover {
      color: $blue-dark;
    }
  }
}

@mixin nav_items {
  height: 100%;
  display: flex;
  align-items: center;
}

.link_container {
  @include nav_items;
  justify-content: flex-start;
  margin-left: 2em;
}

.icon_container {
  @include nav_items;
  justify-content: flex-end;
  margin-right: 2em;
}

.nav_mobile {
  @include nav_shared;
}

.drawer {
  position: fixed;
  height: 93vh;
  width: 100vw;
  bottom: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: bottom .2s ease-in-out;
  background: $white;

  a {
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    padding: 1em;
    color: $blue-mid;
  }
}

.drawer_open {
  bottom: 0;
  z-index: 10;
}
