$blue-mid: #3e7cb1;
$blue-dark: #054a91;
$blue-light: #9fbddf;

$grey-light: #d5d5d5;
$grey-mid: #9f9f9f;
$grey-dark: #676767;

$highlight: #dbe4ee;

$white: #ffffff;
$black: #1b1b1e;

.bg_highlight {
  background: $highlight;
}

.bg_blue_mid {
  background: $blue-mid;
}
