body {
  font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;

  font-weight: 400;
}

h1 {
  font-weight: 200;
}

h1 {
  font-weight: 200;
}
