body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;

  font-weight: 400;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: 200;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-weight: 400;
}

mark {
  color: #054a91;
}

.fadeUpAnimation {
  animation: fadeUp 1s ease-in-out forwards;
}

.fadeDownAnimation{
  animation: fadeDown 1s ease-in-out forwards;
}

.fadeLeftAnimation{
  animation: fadeLeft 1s ease-in-out forwards;
}

.fadeLeftAnimation{
  animation: fadeLeft 1s ease-in-out forwards;
}

.start-invisible {
  opacity: 0%
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translate(20%);
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translate(-20%);
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 100%;
  }
}
