.stats {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4em;
  animation: statsFadeUp 1s 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes statsFadeUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 100%;
  }
}